.home {
  height: 100%;
  .el-container,
  .el-aside,
  .el-main {
    height: 100%;
  }
  .el-aside {
    width: 12% !important;
    color: #CCCCC5;
    background: #293C55;
  }
  .el-main {
    background: #F3F3F3;
    .title {
      display: flex;
      align-items: flex-end;
      font-size: 30px;
      color: #666;
      div:last-child {
        margin-left: 10px;
        font-size: 20px;
        color: #999;
      }
    }
  }

  /* 导航栏样式 */
  .nameList {
    li {
      display: flex;
      align-items: center;
      padding: 20px;
      cursor: pointer;
      & > div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #fff;
        border-radius: 100%;
      }
      &.active {
        background: #E43C59;
        color: #fff;
      }
      &:hover {
        background: #162436;
      }
    }
  }

  /* 图表布局样式 */
  .main {
    height: calc(100% - 40px);
    & > div{
      display: flex;
      height: 100%;
      padding: 10px;
      & > div {
        &:first-child {
          flex-basis: 40%;
          background: #fff;
        }
        &:last-child {
          flex: 1;
          border: 1px solid #ccc;
        }
      }
    }
    .option {
      padding: 30px 10px;
      .option-components {
        display: flex;
        align-items: center;
        & > div:first-child {
          margin-right: 10px;
        }
      }
      .option-components-explain,
      .option-components-property {
        margin: 10px 0 50px 10px;
        font-size: 14px;
        color: #666;
        span:first-child {
          margin-right: 10px;
        }
      }
      .option-more {
        text-align: center;
        a {
          text-decoration: none;
          font-size: 14px;
          &:visited,&:link {
            color: blue;
          }
        }
      }
    }
  }
}